<h3>Create Contact</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="contact.firstName" name="firstName">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="contact.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label for="mobileNumber1">Mobile Number 1</label>
            <input type="text" class="form-control" id="mobileNumber1" required [(ngModel)]="mobileNumber1" name="mobileNumber1">
        </div>

        <div class="form-group">
            <label for="mobileNumber2">Mobile Number 2</label>
            <input type="text" class="form-control" id="mobileNumber2" required [(ngModel)]="mobileNumber2" name="mobileNumber2">
        </div>

        <div class="form-group">
            <label for="workNumber1">Work Number 1</label>
            <input type="text" class="form-control" id="workNumber1" required [(ngModel)]="workNumber1" name="workNumber1">
        </div>

        <div class="form-group">
            <label for="workNumber2">Work Number 2</label>
            <input type="text" class="form-control" id="workNumber2" required [(ngModel)]="workNumber2" name="workNumber2">
        </div>

        <div class="form-group">
            <label for="email">Email ID</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="contact.email" name="email">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
