<h3>Create Contact</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="contact.firstName" name="firstName">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="contact.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label for="phoneNumber">Number</label>
            <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="contact.phoneNumber" name="phoneNumber">
        </div>

        <div class="form-group">
            <label for="email">Email ID</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="contact.email" name="email">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
