<div style="width: 400px;">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="contact.firstName" name="firstName" disabled>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="contact.lastName" name="lastName" disabled>
        </div>

        <div class="form-group">
            <label for="email">Email ID</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="contact.email" name="email" disabled>
        </div>

        <div *ngFor="let phone of contact.phoneNumber">
            <div class="form-group">
                <label>Number Type</label>
                <input type="text" class="form-control"  required [(ngModel)]="phone.phoneNumberType" disabled>
            </div>
            <div class="form-group">
                <label>Number</label>
                <input type="text" class="form-control"  required [(ngModel)]="phone.phoneNumber" disabled>
            </div>
        </div>

</div>
<button (click)="updareContact(contact)" class="btn btn-info" style="margin-left: 10px">Update</button>